body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

div.forms {
    display:flex;
    flex-flow:row wrap;
}

form {
    width:50%;
    text-align:center;
}

form div, form h1 {
    width:70%;
    margin:0.5em auto;
}

form div {
    display: flex;
    flex-flow:row nowrap;
    justify-content:space-evenly;
}

form label, form select, form input {
    width:50%;
}

form input[type="submit"] {
    margin-top: 1em;
}

table {
    margin:auto;
}

td {
    text-align: center;
    border:2px solid black
}